.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: DodgerBlue;
  }  
.flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}
header
{
    background: rgba( 255,255,255,0.1 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
}
body
{
    background-image: url( "../image/background.jpg" );
}
p{
    background: rgba( 255,255,255,0.1 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
}
.botao
{
    color:darkseagreen;
    background-color:teal;
    border-radius:5px;
    border-color:teal
    font-family:'Courier New', Courier, monospace
}
.rotulo
{
    color:darkseagreen;
    font-size:20px;
    font-family:'Courier New', Courier, monospace;
}
.entrada
{
    background-color:aquamarine;
    border-radius:5px
}
th
{
    background: rgba( 255,255,255,0.1 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
}
table
{
    background: rgba( 255,255,255,0.1 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
}
td
{
    background: rgba( 255,255,255,0.1 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
}
tr
{
    background: rgba( 255,255,255,0.1 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
}
a
{
    background: rgba(255, 0, 0, 0.1);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
}