 /*seletor por elemento*/
 div{
    width: 400px;
    height: 200px;
    background-color:bisque;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}

/*seletor por classe*/
.p1{
    color:cadetblue;
    font-size: 20px;
    text-align: center;
    }

/*seletor por id*/
#p1{
    color:darkorange;
    font-size: 30px;
    text-align: center;
    }